<header id="main-header">
	<div class="logo"><a href="/">YumSpot</a></div>
	<nav>
		<ul>
			<li class="nav-item">
				<a href="/restaurants">Browse Restaurants</a>
			</li>
			<li class="nav-item">
				<a href="/recommend">Share a Restaurant</a>
			</li>
			<li class="nav-item">
				<a href="/about">About YumSpot</a>
			</li>
		</ul>
	</nav>
</header>
