<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('includes/head') %>
		<link rel="stylesheet" href="/styles/align-and-font-size.css" />
		<title>Page Not Found</title>
	</head>
	<body>
		<%- include('includes/header') %>
		<main>
			<h1>Page not found!</h1>
			<p>Unfortunately, we weren't able to find this page.</p>
		</main>
		<%- include('includes/footer') %>
	</body>
</html>
