<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('includes/head') %>
		<link rel="stylesheet" href="/styles/about-and-confirm.css" />
		<title>x</title>
	</head>
	<body>
		<%- include('includes/header') %>
		<main>
			<h1>Test Restaurant</h1>
			<p>American | Greatstreet 7, Mycity</p>
			<p>It's amazing!</p>
			<button class="btn">
				<a href="#">View Website</a>
			</button>
		</main>
		<%- include('includes/footer') %>
	</body>
</html>
