<li class="restaurant-item">
	<article>
		<h2>Test Restaurant</h2>
		<div id="info">
			<p>American</p>
			<p>Greatstreet 7, Mycity</p>
		</div>
		<p id="opinion">It's amazing!</p>
		<div id="action">
			<button class="btn">
				<a href="#">View Restaurant</a>
			</button>
		</div>
	</article>
</li>
